<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
</head>
<body>

<script type="text/javascript">
var getTests = ()=>{
	
	$.get(`/test/testvos`)
	.done((tests) => {
		console.log(tests)
		
		htmlText = ''
		tests.forEach(test => {
			htmlText += '<tr>'
			htmlText += '	<td>'
			htmlText += `		<a href='/detail/${test.key}'>${test.param1}</a>`
			htmlText += '	</td>'
			htmlText += `	<td>${test.regId}</td>`
			htmlText += `	<td>${test.regDtt}</td>`
			htmlText += '</tr>'
		})
		
		$('#testsBody').html(htmlText)
	})
	
}

var getTests2 = ()=>{
	$.get(`/test/testvos`)
	.done((tests) => {
		console.log(tests)
		
		$('#testsBody').empty()
		$('#testsBodyTmpl').tmpl(tests).appendTo('#testsBody')
	})
}

$(document).ready(()=>{
	getTests()
})
</script>

<script id="testsBodyTmpl" type="text/x-jquery-tmpl">
<tr>
	<td>
		<a href="/detail/${key}">${param1}</a>
	</td>
	<td>${regId}</td>
	<td>${regDtt}</td>
</tr>
</script>

<h1>Index</h1>

<table style="width:100%;">
	<colgroup>
		<col width="60%" />
		<col width="20%" />
		<col width="20%" />
	</colgroup>
	<thead>
		<tr>
			<th>제목</th>
			<th>작성자</th>
			<th>작성일시</th>
		</tr>
	</thead>
	<tbody id="testsBody">
	</tbody>
</table>
<button onclick="javascript:window.location.href='/write';">글쓰기</button>
<button onclick="javascript:getTests();">새로고침</button>

</body>
</html>